.header{
  grid-area: header;
  background-color: green;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: cover;
  &__logo{
    display: block;
    width: 200px;
    height: 200px;
  }
}