@import "vars";
@import "./modules/header";
@import "./modules/nav";
@import "./modules/content";
@import "./modules/posts";
@import "./modules/dialogs";

body{
  background-color: #f1f1f1;
  color: $text;
}

img{
  width: 100%;
  height: auto;
}

.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 100%;
  max-width: 1200px;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  &-content{
    padding: 25px;
    grid-area: content;
    background-color: white;
  }
}
