@import "vars";


body{
  background-color: #f1f1f1;
  color: $text;
}

img{
  width: 100%;
  height: auto;
}

.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 100%;
  max-width: 1200px;
  grid-template-areas:
  "header header"
  "nav content";
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
  &-content{
    padding: 25px;
    grid-area: content;
    background-color: white;
  }
}

.btn{
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: $accent;
  cursor: pointer;
  border: 1px solid transparent;
  &:disabled{
    background-color: grey;}
}

.avatar{
  margin-bottom: 10px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.preloader{
  width: 300px;
  height: 300px;
}

@import "./modules/header";
@import "modules/navbar/nav";
@import "modules/navbar/sidebar";
@import "./modules/content";
@import "modules/profile/posts";
@import "./modules/profile/profile";
@import "modules/messages/dialogs";
@import "./modules/small/new-post";
@import "./modules/users/users";
@import "./modules/pagination/pagination";